annotated-types==0.7.0
anyio==4.12.1
argcomplete==3.6.3
asgiref==3.11.1
attrs==25.4.0
autocommand==2.2.2
Automat==25.4.16
beautifulsoup4==4.14.3
bitarray==3.8.0
boolean.py==5.0
build==1.4.0
cachetools==7.0.5
caelestia==1.0.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
ckzg==2.1.7
click==8.3.2
cloudinary==1.44.1
constantly==23.10.4
coverage==7.13.4
cryptography==46.0.5
Cython==3.2.4
cytoolz==1.1.0
dbus-python==1.4.0
distlib==0.4.0
distro==1.9.0
Django==5.2.12
django-cloudinary-storage==0.3.0
editables==0.5
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==6.0.0b1
evdev==1.9.3
filelock==3.25.2
gbinder-python==1.3.1
gps==3.27.5
h11==0.16.0
hatch==1.16.5
hatch-vcs==0.5.0
hatchling==1.29.0
hexbytes==1.3.1
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.11
incremental==24.7.2
iniconfig==2.2.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
keyring==25.7.0
libfdt==1.7.2
libmsym==0.2.4
license-expression==30.4.4
lit==22.1.1.dev0
lxml==6.0.2
lyrics-in-terminal==1.8.0
Mako==1.3.10.dev0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
materialyoucolor==2.0.10
mdurl==0.1.2
meson==1.10.2
moddb==0.14.0
more-itertools==10.8.0
namcap==3.6.0
netsnmp-python==1.0a1
nftables==0.1
nose==1.3.7
numpy==2.4.3
packaging==26.0
parsimonious==0.10.0
pathspec==1.0.4
pexpect==4.9.0
pillow==12.1.1
pipx==1.8.0
pkg_resources==81.0.0
platformdirs==4.9.4
pluggy==1.6.0
psutil==7.2.2
ptyprocess==0.7.0
pyalpm==0.11.1
pyaml==24.12.1
pycairo==1.29.0
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pyelftools==0.32
Pygments==2.19.2
PyGObject==3.54.5
pyproject_hooks==1.2.0
PySide6==6.10.2
pystray==0.19.5
pytest==8.4.2
python-discovery==1.1.3
python-xlib==0.33
pytz==2025.2
pywayland==0.4.18
pyxdg==0.28
PyYAML==6.0.3
QtPy==2.4.3
Reflector==2023.6.28.0.36.1
regex==2026.2.28
requests==2.32.5
rich==14.3.3
rlp==4.1.0
SecretStorage==3.4.0
setproctitle==1.3.7
setuptools==82.0.1
setuptools-scm==9.2.2
shellingham==1.5.4
shiboken6==6.10.2
shiboken6-generator==6.10.2
six==1.17.0
smbus==1.1
sniffio==1.3.1
soupsieve==2.8.3
speedtest-cli==2.1.3
spglib==2.7.1.dev0+g12355c77f.d20260104
sqlparse==0.5.3
TBB==0.2
tomli_w==1.2.0
tomlkit==0.14.0
toolz==1.1.0
tqdm==4.67.3
trash-cli==0.24.5.26
trove-classifiers==2026.1.14.14
Twisted==24.7.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
userpath==1.9.2
uv==0.10.11
vdf==4.0
virtualenv==21.2.0
wheel==0.46.3
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
ytmusicapi==1.11.5
zope.interface==8.2
zstandard==0.25.0
